[DEFAULT]
subreddit = SubReddit
submission_statement_minimum_char_length = 100
minutes_to_wait_for_submission_statement = 1
pin_submission_statement_request = False
pin_submission_statement_response = False
remove_posts = True
use_spolier_tags = True

[TEXT]
removal_reason = We require that posters submit an explanation (a.k.a. a submission statement) for why their post fits the requirements for r/${DEFAULT:subreddit}. Your post has been removed as it is missing this requirement. If you wish to share your post with the community, you will need to resubmit your link along with a submission statement of at least ${DEFAULT:submission_statement_minimum_char_length} characters.
submission_statement_request = We require that posters submit an explanation (a.k.a. a submission statement) for why their post fits the requirements for r/${DEFAULT:subreddit}. Please reply to this comment with a suitable submission statement that is at least ${DEFAULT:submission_statement_minimum_char_length} characters in length.

[CREDENTIALS]
username =  submission-bot
password = P@55w0rd!
client_id = clientid
client_secret = clientsecret